@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap'); */

body {
  font-family: "Lato","Roboto","Montserrat","ui-sans-serif","system-ui","sans-serif";
  font-weight: 400;
}

.content {
  font-family: "Lato","Roboto","Montserrat","ui-sans-serif","system-ui","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.float-right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

/* left menu - increase width */
aside {
  width: 20rem !important;
}

/* left menu - do not wrap text */
.hextra-sidebar a {
  white-space: nowrap;
}

@media (min-width: 1024px) {
  :root {
    --hextra-max-page-width: 100rem;
    --hextra-max-content-width: 90%;
    --hextra-max-navbar-width: 100rem;
    --hextra-max-footer-width: 100rem;
  }
  .hextra-sidebar-container {
    width: 20rem !important; /* scale left menu width */
  }
  .hextra-toc-container {
    width: 18rem !important; /* scale TOC width */
  }
  .hextra-content-container {
    max-width: var(--hextra-max-content-width) !important; /* scale content width */
  }
}
